*,
*:before,
*:after {
  box-sizing: inherit; 
}

html {
   box-sizing: border-box;
   margin: auto;
}

body {
    margin:auto;
}

header {
    background-color: aqua;
    width: 80vw;
    margin: auto;
    padding: 20px;
}

#top h1 {
   text-align: center;
}

#top ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none; /* no bullet points*/
}

main {
    background-color: beige;
    width: 80vw;
    margin: auto;
    padding: 20px;
    text-align: center;
}

#intro {
    text-align: center;
}

article {
    border-color: aqua;
    margin:15px 10px 15px 10px;
    border-radius: 5px;
     border: thin solid;
    

}
article h3 a:hover,a:active {/*link hover color)*/
        background-color: aqua;
        padding:0 15px 0 10px;
        border-radius: 5px;
         border:thin solid;
         opacity: 0.3;
}

footer {
    text-align: center;
}
